.info-general-titles {
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 15px;
}

.linea-gris {
    border-color: #80808024;
  }

.info-general-buttons {
    display: flex;
    justify-content: center;

}
